<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        * {margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }

        img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        body, .body-wrap {
            width: 100% !important;
            height: 100%;
            background: #f8f8f8;
        }

        a {
            color: #71bc37;
            text-decoration: none;
        }

        a:hover { text-decoration: none; }

        .text-center { text-align: center; }

        .text-right { text-align: right; }

        .text-left { text-align: left; }

        .button { display: inline-block; color: white; background: #71bc37; border: solid #71bc37; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px; }

        .button:hover { text-decoration: none; }

        h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }

        h1 { font-size: 32px;}

        .h4-font{
            color: #000000;
            font-family: "Nunito", sans-serif;
            font-weight: 500;
            line-height: 1.2;
            font-size: 18px;
        }

        .h5-font{
            color: #d63384;
            font-family: "Nunito", sans-serif;
            font-weight: 400;
            line-height: 1.2;
        }

        .list{
            color: #000000;
            font-family: "Nunito", sans-serif;
            font-weight: 600;
            line-height: 1.2;
        }

        h2 { font-size: 28px;}

        h3 { font-size: 24px;
            font-weight: 600;
            color: #000000;
            margin-bottom: 7px;}

        h4 { font-size: 20px; }

        h5 { font-size: 16px; }

        p, ul, ol { font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }

        .container table { width: 100% !important; border-collapse: collapse; }

        .container .masthead { padding: 80px 0; background: #eee; color: white; }

        .container .masthead h1 { margin: 0 auto !important; max-width: 90%; text-transform: uppercase; }

        .container .content { background: white; padding: 22px 35px; }

        .container .content.footer { background: none; }

        .container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }

        .container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }

        .container .content.footer a:hover { text-decoration: underline; }

        .btn_1 {
            background-color: #567AED;
            border: 1px solid #567AED;
            color: #fff;
            display: inline-block;
            padding: 11px 25px;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400;
            border-radius: 5px;
            white-space: nowrap;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <table class="body-wrap">
        <tr>
            <td class="container">
                <table>
                    <tr>
                        <td class="content">
                            <h3>Bonjour {{ data.fullName }},</h3>
                            <p>Nous avons reçu une demande de réinitialisation du mot de passe du compte associé à <b>{{ data.email }}</b>.
                                Aucune modification n'a encore été apportée à votre compte.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="content">
                            <div class="add_button ms-2">
                                <p class="h5-font">Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous.
                                    <b>Ce lien ne peut être utilisé qu'une seule fois.</b>
                                </p>
                                <a href="{{ url }}" class="btn_1" target="_blank">Réinitialisez votre mot de passe</a>
                            </div>
                            <br><br>
                            <p style="color: #9095a7;">
                                <em>Si vous rencontrez des problèmes pour vous connecter à votre compte,
                                    nous sommes là pour vous aider ! Contactez-nous à EMAIL.
                                </em>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
