{% extends 'main/barre.html.twig' %}

{% block body %}
<div class="container forum-container mt-5">
  <h2>Forum des Commandes</h2>
  
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Nom du produit">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Catégorie">
    </div>
    <div class="mb-3">
      <textarea class="form-control" rows="3" placeholder="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Publier</button>
  </form>
</div>

</body>
</html>
{% endblock %}