{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    
    <section id="services">
        <h2>Nos Services</h2>
        <div class="service">
            <img src="{{ asset('images/service1.jpg') }}" alt="Service 1">
            <h3>Gestion des dechets</h3>
        </div>
        <div class="service">
            <img src="{{ asset('images/service2.jpg') }}" alt="Service 2">
            <h3>Recyclage et transformation</h3>
        </div>
    </section>
{% endblock %}
